.css-1oqqzyl-MuiContainer-root {
  max-width: 1400px !important;
  padding: 0 !important;
}

.css-155301y-MuiContainer-root{
  max-width: 1400px !important;
  padding: 0 !important;
}



body{
  overflow-x: hidden;
}

h1{
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  color: #000000;
  margin-top: 50px;
  margin-bottom: 100px;

}

